<div>
    <div class="container">
        {{>title data=name big=true}}
        <div class="row mb-3">
            {{>title data=occupation}}
        </div>
        <div class="row">
            <div class="col-2 fw-bold">
                Born:
            </div>
            <div class="col-8">
                {{birthdate}}, {{birthplace}}
            </div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">
                Died:
            </div>
            <div class="col-8">
                {{deathdate}}, {{deathplace}}
            </div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">
                Citizenship:
            </div>
            <div class="col-8">
                {{nationality}}
            </div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">
                Education:
            </div>
            {{#with education.[0]}}
            <div class="col-8">
                <div>{{degree}} / {{field}}</div>
                <div>{{institution}} ({{year}})</div>
            </div>
            {{/with}}
        </div>
        <div class="row">
            <div class="col-2 fw-bold">
                Known for:
            </div>
            <div class="col-8">
                {{#each known_for}}
                <div>
                    {{this}}
                </div>
                {{/each}}
            </div>
        </div>

        <h3>
            Publications:
        </h3>
        <ul class="list-group">
            {{#each notable_publications}}
            <li class="list-group-item border-0">
                {{title}} ({{year}})
                via <em> {{publisher}} </em>
            </li>
            {{/each}}
        </ul>
        <h3>
            Private life:
        </h3>
        <ul class="list-group">
            {{#each partners}}
            <li class="list-group-item border-0">
                {{name}}, {{relationship}}
                <div>{{years}}</div>
            </li>
            {{/each}}
        </ul>
        <div class="row">
            <h3>Awards and honors</h3>
        </div>
        {{#with awards.[0]}}
        <div class="row mb-3">
            Einstein received {{title}} in {{year}}. He was
            {{description}}.
        </div>
        {{/with}}
        <table class="table">
            <thead class="table-light">
                <th scope="col">Influences</th>
                <th scope="col">Influenced</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{#each influences}}
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                {{this}}
                            </li>
                        </ul>
                        {{/each}}
                    </td>
                    <td>
                        {{#each influenced}}
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                {{this}}
                            </li>
                        </ul>
                        {{/each}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <h3>Quotes:</h3>
            {{#each quotes}}
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <q>{{this}}</q>
                </li>
            </ul>
            {{/each}}
        </div>
        <div class="row">
            <h3>Discoveries and {{contributions.title}}.</h3>
            {{#with major_discoveries.[0]}}
            <p class="mb-2">Albert Einstein discovered the law of the {{title}} in {{year}}. {{description}}
            </p>
            {{/with}}
        </div>
        {{#with contributions }}
        <div>
            <em>{{field}}</em> <br>
            <del>
                In {{year}} {{description}}
            </del>
            {{/with}}
        </div>
    </div>
</div>