<div>
    <main>
        {{#with person}}
        <section>
            <div class="mb-3">
                {{>title big=true data=name}}
            </div>
            <b>{{age}}, {{gender}}</b>
            <div>
                {{#with address}}
                <address>
                    {{street}}, {{city}}, {{state}}
                    <br>
                    {{zip}}, {{country}}
                </address>
                {{/with}}
            </div>
            <hr>
            {{#with education.[0]}}
            <div>
                {{>title data="Education"}}
                <div><strong>{{major}}</strong>
                    <em>({{degree}})</em>
                </div>
                <div>
                    <strong>{{graduationYear}}, {{university}}</strong>
                </div>
            </div>
            <hr>
            {{/with}}
            <div>
                {{#with workExperience.[0]}}
                {{>title data="Work Experience"}}
                <div><b>{{title}}</b></div>
                <div><b>{{company}},
                        <small>{{startDate}}-{{endDate}} </small>
                    </b></div>
                <ul class="list-group">
                    <li class="list-group-item border-0">{{responsibilities.[0].item1}}</li>
                    <li class="list-group-item border-0">{{responsibilities.[0].item2}}</li>
                </ul>
                {{>title data="About company"}}
                <ul class="list-group">
                    <li class="list-group-item border-0">Year of foundation: {{year_founded}}</li>
                    <li class="list-group-item border-0">Industry: {{industry}}</li>
                </ul>
                {{#with employees.[0]}}
                <div>
                    <u>
                        Employees:
                    </u>
                </div>
                {{#with projects.[0]}}
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        {{../name}} / {{../position}} / {{../department}}
                    </li>
                    <em> <small>
                            <li class="list-group-item border-0">
                                {{teams.[0].team_leader.title}} of {{teams.[0].team_name}}
                            </li>
                            <li class="list-group-item border-0">{{teams.[0].team_leader.email}}</li>
                    </em>
                    </small>
                </ul>
                <ul class="list-group border-0">
                    <li class="list-group-item">Projects: {{name}} - {{description}} ({{status}})</li>
                </ul>
                {{#with teams.[0].team_members.[0]}}
                <div class="row">
                    <h1 class="pb-2">TEAM MEMBER</h1>
                    <div class="col fw-bold mb-2">
                        {{name}} / {{title}} {{email}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-3 pb-2 fw-bold">
                        Skills
                    </div>
                    <div class="col-5">
                        {{#each skills}}
                        {{this}}
                        {{/each}}
                    </div>
                </div>
                {{#with projects.[0]}}
                <div class="row">
                    <div class="col fw-bold">
                        Projects
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        {{name}}
                    </div>
                    <div class="col-5">{{description}}
                        <div>
                            {{#each technologies}}
                            {{this}}
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col fw-bold">
                        Members
                    </div>
                </div>
                {{#each team_members}}
                <div class="row">
                    <div class="col-3">
                        {{name}}
                    </div>
                    <div class="col-5">{{title}}</div>
                </div>
                {{/each}}
                {{/with}}
                {{/with}}
                {{/with}}
                {{/with}}
                {{/with}}
        </section>
        {{/with}}
    </main>
</div>