<div>
    <main>
        <header>
            {{#with program.excursion}}
            <h3>
                <time>{{date}}</time>
            </h3>
            <h1>{{name}}</h1>
            <h2>
                {{location.city}} , {{location.country}}
            </h2>
        </header>
        <hr>
        <section>
            <ul class="list-group">
                {{#with program.[0]}}
                <li class="list-group-item border-0">
                    <strong style="text-transform: uppercase">
                        {{type}}: {{name}}
                        <div style="text-transform: lowercase">
                            {{duration}} hours
                        </div>
                    </strong>
                    {{#with details.museum}}
                    <p>
                        <b>
                            Location: {{name}}
                        </b>
                    <address>{{location.address}}, {{location.city}}, {{location.country}}</address>
                    </p>
                    <ul class="list-group mb-3">
                        {{#each exhibits}}
                        <li class="list-group-item border-0">Name: {{name}}</li>
                        {{#if artist}}
                        <li class="list-group-item border-0">Artist: {{artist}}</li>
                        {{/if}}
                        <li class="list-group-item border-0">Description: {{description}}</li>
                        {{#if audio_guide}}
                        <li class="list-group-item border-0">Audio-guide: YES</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                    {{/with}}
                    {{#with details.guide}}
                    <div>
                        Guide: {{name}} ({{rating}}/5)
                    </div>
                    <div class="mb-3">
                        Language: {{language}}
                    </div>
                    {{/with}}
                </li>
                {{/with}}

                <div>
                    {{#with program.[1]}}
                    <li class="list-group-item border-0">
                        <strong style="text-transform: uppercase">
                            {{type}}: {{name}}
                            <div style="text-transform: lowercase">
                                {{duration}} hours
                            </div>
                        </strong>
                        {{#with details.venue}}
                        <p>
                            <b>
                                Location: {{name}}
                            </b>
                        <address>{{location.address}}, {{location.city}}, {{location.country}}</address>
                        </p>
                        {{/with}}
                        <ul class="list-group list-group-numbered">
                            {{#each details.performers }}
                            <li class="list-group-item border-0">{{name}} <br> {{type}}</li>
                            <br>
                            {{/each}}
                        </ul>
                        {{#with details.guide}}
                        <div>
                            Guide: {{name}} ({{rating}}/5)
                        </div>
                        <div>
                            Language: {{language}}
                        </div>
                        {{/with}}
                    </li>
                    {{/with}}
                </div>
            </ul>
            {{/with}}
        </section>
        <hr>
    </main>
</div>