<main>
    <header>
        {{#with page_header}}
        <h1 class="text-center">{{title}}</h1>
        <p class="text-center">{{description}}</p>
        {{/with}}
    </header>
    {{#with section}}
    <section>
        {{#with about_us}}
        <div class="border rounded p-4">
            {{#with title_list}}
            <div class="display-6 text-end">{{main}}</div>
            <h2 class="text-end py-4">{{sub}}</h2>
            {{/with}}
            {{#with button}}
            <button type="button" class="btn btn-outline-info my-4">{{text}}</button>
            {{/with}}
        </div>
        {{/with}}
        {{#with advantage}}
        <div class="border rounded my-4 p-4">
            <div class="display-5 text-muted">{{title}}</div>
            {{#with efficiency}}
            <div class="card my-4">
                <div class="card-body">
                    <h4 class="card-title text-muted mb-4">{{title}}</h4>
                    <h6 class="card-subtitle mb-2">{{sub_title}}</h6>
                    <p>{{description}}</p>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
            {{/with}}
            {{#with innovation}}
            <div class="card my-4">
                <div class="card-body">
                    <div class="text-center lh-lg">
                        <div class="display-4 text-muted pb-3">{{title}}</div>
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                    </div>
                    <button type="button" class="btn btn-outline-warning my-3">{{button}}</button>
                </div>
            </div>
            {{/with}}
            {{#with collaboration}}
            <div class="card my-4">
                <div class="card-body">
                    <div class="text-end lh-lg">
                        <div class="display-4 text-muted mb-4">{{title}}</div>
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                    </div>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
        {{#with agreement}}
        <div class="border rounded my-4 p-4">
            <div class="display-5 pb-4">{{title}}</div>
            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5 class="p-2">{{sub_title}}</h5>
                    {{#with detail}}
                    <div class="card">
                        <div class="card-body">
                            <p>{{text}}</p>
                            <button type="button" class="btn btn-success">{{button}}</button>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </section>
    {{/with}}
</main>