<main>
    <section>
        {{#each web.languages}}
        <div>
            {{>title data=name big=true}}
            <h2>
                Version: {{version}}
            </h2>
            <p>
                {{description}}
            </p>
            {{>title data="Elements:"}}
            <ul class="list-group">
                {{#each elements}}
                <li class="list-group-item border-0">
                    <dfn> {{name}}</dfn>
                    <div>
                        {{description}}
                    </div>
                </li class="list-group-item border-0">
                Attributes:
                {{#each attributes}}
                <ul class="list-group">
                    <li class="list-group-item border-0">{{name}} - {{description}}</li>
                </ul>
                {{/each}}
                {{/each}}
            </ul>

            {{#each properties}}
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <dfn> {{name}}</dfn>
                    <div>
                        {{description}}
                    </div>
                </li>
                Values:
                {{#each values}}
                <ul class="list-gtoup">
                    <li class="list-group-item border-0">{{value}} - {{description}}</li>
                </ul>
                {{/each}}
            </ul>
            {{/each}}

            {{#each functions}}
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <dfn> {{name}} </dfn>
                    <div>
                        {{description}}
                    </div>
                </li>
                <div>
                    Parameters:
                </div>
                {{#each parameters}}
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        {{name}} ({{type}}) - {{description}}
                    </li>
                </ul>
                {{/each}}
            </ul>
            {{/each}}
        </div>
        <hr>
        {{/each}}
    </section>
</main>