<div>
    <div class="container">
        {{#with main}}
        <div class="row">
            {{>title data="Work history" big=true}}
            <div class="col-4">
                <ul class="list-group">
                    {{#each work}}
                    <li class="list-group-item">
                        <div class="fw-bold">{{position}}</div>
                        <div>
                            {{duration.from}} - {{#if duration.to}} {{duration.to}} {{else}} (still working) {{/if}}
                        </div>
                        <div class="my-4">
                            {{#if company.url}}
                            {{>link text=company.name href=company.url noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>

                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            {{>title data="My projects" big=true}}
            <ul class="list-group">
                {{#each projects}}
                <li class="list-group-item">
                    <div class="mb-3">
                        {{>link text="GitHub" href=github noLine=true blank=true}}
                    </div>
                    <div class="mb-3">
                        {{>title data=name}}
                    </div>
                    <div class="my-3">
                        {{about}}
                    </div>
                    <div class="mb-2">
                        <em>
                            Project stacks ({{stackAmount}})
                        </em>
                    </div>

                    <div>
                        <ul class="list-group">
                            {{#each stacks}}
                            <li class="list-group-item border-0">
                                {{name}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <br>
                    <div class="mb-2">
                        <em>
                            Project awards
                        </em>
                    </div>

                    <div>
                        <ul class="list-group">
                            {{#each awards}}
                            <li class="list-group-item border-0">
                                {{name}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <br>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/with}}
    </div>
</div>