<a href="{{link}}" class="btn 
        {{#if isPrimary}}
        btn-primary
        {{else if isDanger}}
        btn-danger
         {{else if isSecondary}}
        btn-secondary
        {{else if isSecondaryOutline}}
        btn-outline-secondary
         {{else if isSuccess}}
        btn-success 
         {{else if isDangerOutline}}
        btn-outline-danger
        {{else if isSuccessOutline}}
        btn-outline-success
        {{else if isWarning}}
        btn-warning
        {{else if isWarninigOutline}}
        btn-outline-warning
        {{else if isWarningWhite}}
        btn-warning text-white
        {{/if}}
        me-2">{{text}}</a>