<a href="{{link}}" class="btn 
        {{#if isPrimary}}
        btn-primary
        {{else if isDanger}}
        btn-danger
         {{else if isSecondary}}
        btn-secondary
        {{else if isSecondaryOutline}}
        btn-outline-secondary
         {{else if isSuccess}}
        btn-success 
         {{else if isDangerOutline}}
        btn-outline-danger
        {{else if isSuccessOutline}}
        btn-outline-success
        {{/if}}
        me-2">{{text}}</a>